.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s;
}

.social-icons a:hover {
    background: #7c7fad; /* Or the brand color */
    color: white;
}
