{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>

<div class="container">
    <div class="page active">
        <div class="header">
            <h1>SUCCESS</h1>
        </div>

        <div class="form-container">
            <p style="text-align:center;">
                Your password has been reset successfully.
            </p>

            <div class="switch-form">
                <a href="{% url 'signin' %}">Login Now</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
